.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, .125);
  /* border-radius: .5rem; */
  background-clip: border-box;
}

.card-body {
  margin: 1rem;
}

.card-title {
  font-size: 1.25em;
  margin-bottom: .5rem;
  font-weight: bold;
}

.card img {
  height: 405px;
  /* width: 720px; */
  object-fit: cover;
}

.col-md-6 {
  width: 50%;
}

.row {
  display: flex;
}

pre {
  overflow-x: scroll;
}

code {
  color: #EB5757;
  background: rgba(135, 131, 120, 0.15);
  padding: 0.2em 0.4em;
}

.mb-3 {
  margin-bottom: 1rem;
}

* {
  box-sizing: content-box;
}